<% palette = (@current_palette || @palette) %>
<% class_name = button.size.downcase %>
<% color_class_name = "#{button.button_color.name.downcase.gsub(/ /, '-')}ButtonColor" %>
<div class='<%= "#{class_name}ButtonWidget #{color_class_name}" %>' id='<%= "button_#{button.div_id}" %>'>
  <h1 id='<%= "#{button.div_id}" %>'>
    <%= truncate(button.title, length: 20 ) %></h1>
  <%= link_to '', button_path(button, palette_id: palette.id),
                  method: :get,
                  remote: true
  %>
</div>
