<% class_name = button.size.downcase %>
<div class='<%= "#{class_name}ButtonWidget" %>' id='<%= "button_#{button.div_id}" %>'>
  <h1 id='<%= "#{button.div_id}" %>'>
    <%= truncate(button.title, length: 20 ) %></h1>
  <%= link_to '', button_path(button, palette_id: @palette.id),
                  method: :get,
                  remote: true
  %>
</div>