<%= simple_form_for(@button, remote: true, :html => { class: 'inline form-horizontal', id: 'button_form'}) do |f|  %>
  <%= f.input :title %>
  <%= hidden_field_tag  'title_value', @button.title %>
  <%= hidden_field_tag  'palette_id', @palette.id %>
  <%= hidden_field_tag  'phrase_value', @button.speech_phrase %>
  <%= hidden_field_tag  'color_value', @button.button_color_id %>
  <%= hidden_field_tag  'size_value', @button.size %>
  <%= hidden_field_tag  'speed_value', @button.speech_speed_rate %>

  <%= f.input :speech_phrase, input_html: {style: 'height:50px;'} %>
  <%= f.label 'Speech speed rate:' %>

  <div class="row">
    <div class="col-md-9">
      <div class="noUiSlider" id="speechSpeedRateSlider"></div>
    </div>
    <div class="col-md-3">
      <%= f.input :speech_speed_rate, label: false %>
    </div>
  </div>
  <%= f.association :button_color, collection: ButtonColor.order(:name), id: :name,
                    input_html: { class: 'chosen-select' } %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :size, collection: %w[Small Medium Large], include_blank: false %>

    </div>
    <div class="col-md-6">

      <%= link_to 'Delete',
                  {controller: :buttons,
                   action: 'destroy',
                   id: @button.id,
                   palette_id: @palette.id},
                  method: :delete,
                  remote: true,
                  title: "Delete Button",
                  class: 'btn btn-danger btn-block',
                  id: 'deleteButton',
                  data: { confirm: "Delete button '#{@button.title}'?" }
      %>

    </div>
  </div>
<% end %>