<%= simple_form_for(@button, remote: true, :html => { class: 'inline form-horizontal', id: 'button_form'}) do |f|  %>
  <%= f.input :title %>
  <%= hidden_field_tag  'title_value', @button.title %>
  <%= hidden_field_tag  'palette_id', @palette.id %>
  <%= hidden_field_tag  'phrase_value', @button.speech_phrase %>
  <%= hidden_field_tag  'color_value', @button.button_color_id %>
  <%= hidden_field_tag  'size_value', @button.size %>
  <%= hidden_field_tag  'speed_value', @button.speech_speed_rate %>

  <%= f.input :speech_phrase, input_html: {style: 'height:50px;'} %>
  <%= f.label 'Speech speed rate:' %>

  <div class="row-fluid">
    <div class="col-md-9">
      <div class="noUiSlider" id="speechSpeedRateSlider"></div>
    </div>
    <div class="col-md-3">
      <%= f.input :speech_speed_rate, label: false, input_html: { style: 'width: 60px; margin-left: 0;'} %>
    </div>
  </div>
  <%= f.association :button_color, collection: ButtonColor.all, id: :name,
                    input_html: { class: 'chosen-select' } %>
  <%= f.input :size, collection: %w[Small Medium Large], include_blank: false %>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <% if session[:adding_button] %>
        <%= link_to 'Done',
                    {controller: 'buttons',
                     action: 'update',
                     id: @button.id,
                     status: 'done',
                     palette_id: @palette.id
                    },
                    method: :put,
                    remote: true,
                    class: 'btn btn-primary btn-block',
                    id: 'doneButton',
                    title: 'Stop automatically creating new buttons.'
        %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to 'Delete',
                  {id: @button.id,
                   palette_id: @palette.id},
                  method: :delete,
                  remote: true,
                  class: 'btn btn-danger btn-block',
                  id: 'deleteButton',
                  data: { confirm: "Delete button '#{@button.title}'?" }
      %>
    </div>
    <div class="col-md-4">
      <%= link_to 'Copy', clone_palette_button_path(@palette, @button),
                  method: :post,
                  remote: true,
                  class: 'btn btn-primary btn-block',
                  id: 'cloneButton',
                  title: "Make a copy of #{@button.title}"
      %>
    </div>
    <script>
      // On delete button, remove the button from the grid
      $(document).ready(function() {
        $('#deleteButton').click(function() {
          var gridster = $(".gridster ul").gridster().data('gridster');

          /**
           * Remove a widget from the grid.
           *
           * @param {HTMLElement} el The jQuery wrapped HTMLElement you want to remove.
           * @param {Boolean|Function} silent If true, widgets below the removed one
           * will not move up. If a Function is passed it will be used as callback.
           * @param {Function} callback Function executed when the widget is removed.
           * @return {Class} Returns the instance of the Gridster Class.
           */
          gridster.remove_widget($('.btn-selected').parent(), true);
        });
      });
    </script>
  </div>
<% end %>
