<div class="container-fluid">
  <%= simple_form_for(resource, :as => resource_name,
                      :html => { :class => 'inline form-horizontal'},
                      :url => registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <%= f.input :first_name, label: false, placeholder: t('home.placeholder.first_name') %>
    <br>
    <%= f.input :last_name,  label: false, placeholder: t('home.placeholder.last_name') %>
    <br>
    <%= f.input :email, label: false, placeholder: t('home.placeholder.email') %>
    <br>
    <%= f.input :password, label: false, placeholder: t('home.placeholder.password') %>
    <br>
    <%= f.input :password_confirmation, label: false, placeholder: t('home.placeholder.confirm_password') %>
    <br>
    <%= f.submit t('home.button.signup'), :class => 'btn btn-primary btn-block' %>
  <% end %>
</div>

