<div class="panel panel-default" id="new_or_edit_palette_form">
	<div class="panel-heading">
    <% if palette.id.nil? %>
		  <h3 class="panel-title">New Palette</h3>
    <% else %>
      <h3 class="panel-title">Edit Palette: <%= palette.title %></h3>
    <% end %>
	</div>
	<div class="panel-body">
	  <%= form_for palette,
	               authenticity_token: form_authenticity_token, remote: true, html: {class: 'inline-form', role: 'form'} do |f| %>
	    <div class="form-group <%= 'has-error' if palette.errors.has_key? :title %>">
	      <%= f.label :title, class: 'sr-only' %>
	      <%= f.text_field :title, class: 'form-control', placeholder: t('activerecord.attributes.palette.title') %>
        <% if palette.errors.any? %>
          <span class="help-block">
            <p class="text-danger">* <%= palette.errors.full_messages.to_sentence %></p>
          </span>
        <% end %>
	    </div>
	    <%= f.submit t('palettes.edit.save', default: 'Save'), class: 'btn btn-primary' %>
	    <%= link_to t('palettes.edit.cancel', default: 'Cancel'),
                  palettes_path,
                  class: 'btn btn-default'  %>
	  <% end %>
	</div>
</div>
