<div class="paletteDetailsContainer" id='<%= "#{palette.id}--#{palette.title}" %>'>
  <h3>
    <%= palette.title %> &nbsp; &nbsp;
    <%= link_to '<i class="glyphicon glyphicon-send"></i>'.html_safe,
                new_palette_share_path(palette),
                title: t('palettes.index.link.share.title'),
                remote: true
    %>
    &nbsp; |
    &nbsp;
    <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe,
                edit_palette_path(palette),
                remote: true,
                id: 'editPaletteIcon',
                title: t('palettes.index.link.edit.title')
    %>
    &nbsp; |
    &nbsp;
    <%= link_to '<i class="glyphicon glyphicon-import"></i>'.html_safe,
                "#myModal",
                data: { toggle: "modal", backdrop: 'static'},
                id: 'importPaletteLink',
                title: 'Import existing palette from file'
    %>
    &nbsp; |
    &nbsp;
    <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe,
                palette,
                method: :delete,
                data: { confirm: t('palettes.index.link.delete.confirm', title: palette.title) },
                id: 'deletePalette',
                title: t('palettes.index.link.delete.title')
    %>
    &nbsp; |
    &nbsp;
    <%= link_to '<i class="glyphicon glyphicon-plus"></i> B'.html_safe,
                buttons_path(palette_id: palette.id, js: true, status: "new"),
                method: :post,
                remote: true,
                id: 'addNewButton',
                title: t('palettes.index.link.add.title')
    %>

  </h3>
  <hr>
  <%= render 'palettes/center_content/existing_buttons', palette: palette %>
  <%= render 'palettes/import_palette' %>
</div>