<div class="paletteDetailsContainer" id='<%= "#{palette.id}--#{palette.title}" %>'>
  <h3>
    <%= palette.title %> &nbsp; &nbsp;
    <%= link_to '<i class="glyphicon glyphicon-pencil"></i> Edit Palette'.html_safe,
                edit_palette_path(palette),
                remote: true,
                id: 'editPaletteIcon',
                title: 'Edit this palette'
    %>
    &nbsp; &nbsp; |
    &nbsp; &nbsp;
    <%= link_to '<i class="glyphicon glyphicon-plus"></i> Add Button'.html_safe,
                buttons_path(palette_id: palette.id, js: true),
                method: :post,
                remote: true,
                id: 'addNewButton',
                title: 'Add a new button'
    %>
    &nbsp; &nbsp; |
    &nbsp; &nbsp;
    <%= link_to '<i class="glyphicon glyphicon-trash"></i> Delete Palette'.html_safe,
                palette,
                method: :delete,
                data: { confirm: "Delete palette '#{palette.title}'?" },
                id: 'deletePalette',
                title: 'Delete Palette'
    %>
  </h3>
  <hr>
  <%= render 'palettes/center_content/existing_buttons' %>
</div>