<div class="modal fade"
  id="recommendLessonModal"
  tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Recommend lesson(s). </h4>
      </div>
      <%= simple_form_for current_user,
                          remote: true,
                          url: url_for(controller: 'users', action: 'recommend_lessons'),
                          :html => { :class => 'form-horizontal' } do |f| %>
        <div class="modal-body">
          <p>Select the lessons to recommend</p>
          <%= select_tag  'recommend_lesson_ids', options_for_select(current_user.lessons_to_recommend),
              multiple: true,
              input_html: { class: 'chosen-select' }
          %>
          <br><br>
          <p>Select the user(s) to whom the lessons are being recommended:</p>
          <%= select_tag  'recommend_user_ids', options_for_select(current_user.other_names_and_avatars),
                          multiple: true,
                          input_html: { class: 'chosen-select' }
          %>
        </div>
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Recommend', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

