<% content_for :content  do %>
    <div class="container" id="resendConfirmation">
        <h2>Change your password</h2>
        <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <%= f.input :reset_password_token, :as => :hidden %>
                  <%= f.full_error :reset_password_token %>

                  <%= f.input :password, :label => t('home.placeholder.new_password'), :required => true, :autofocus => true %>
                  <%= f.input :password_confirmation, :label => t('home.placeholder.confirm_password'), :required => true %>
              </div>
            </div>
          </div>

          <%= f.button :submit, t('home.placeholder.change_password'), class: "btn btn-primary" %>
        <% end %>

        <!%= render "devise/shared/links" %>
        </div>
<% end %>

