<h3>
  <%= 'Drag buttons to arrange...' %> &nbsp; &nbsp;
  <%= link_to '<i class="glyphicon glyphicon-repeat"></i>'.html_safe,
              grid_palette_buttons_path(palette),
              title: t('palettes.index.link.reset.title'),
              remote: true,
              id: 'resetGridLink'
  %>
  &nbsp; |
  &nbsp;
  <%= link_to '<i class="glyphicon glyphicon-floppy-saved"></i>'.html_safe,
              'javascript:void(0)',
              title: t('palettes.index.link.save.title'),
              remote: true,
              id: 'saveGridLink'
  %>
  &nbsp; |
  &nbsp;
  <%= link_to '<i class="glyphicon glyphicon-floppy-remove"></i>'.html_safe,
              palette_path(palette),
              title: t('palettes.index.link.cancel.title'),
              remote: true,
              id: 'cancelGridLink'
  %>

  <% if params[:fake].present? %>
    &nbsp; |
    &nbsp;
    <%= render 'palettes/center_content/edit_multiple_palette_buttons_link', palette: palette %>
  <% end %>
</h3>
<hr>
<script>
	$('#saveGridLink').click(function(){
		var url = "<%= save_grid_palette_buttons_path %>";
//		alert("URL: " + url);
		var data = "button_data="+JSON.stringify(
				$(".gridster ul").gridster().data('gridster').serialize_changed()
		);
		alert("Data: " + data);
		$.post(
				url,
				data,
				null,
				'script'
		)
	})
</script>