<h3>
  <%= palette.title %> &nbsp; &nbsp;
  <%= render 'palettes/toolbar/share_palette_link', palette: palette %>
  &nbsp; |
  &nbsp;
  <%= render 'palettes/toolbar/edit_palette_link', palette: palette %>
  &nbsp; |
  &nbsp;
  <%= render 'palettes/toolbar/arrange_buttons_link', palette: palette %>
  &nbsp; |
  &nbsp;
  <%= render 'palettes/toolbar/import_palette_link', palette: palette %>
  &nbsp; |
  &nbsp;
  <%= render 'palettes/toolbar/delete_palette_link', palette: palette %>
  &nbsp; |
  &nbsp;
  <%= render 'palettes/toolbar/add_button_to_palette', palette: palette %>

  &nbsp; |
  &nbsp;
  <%= render 'palettes/center_content/edit_multiple_palette_buttons_link', palette: palette %>
  <% if params[:fake].present? %>
    &nbsp; |
    &nbsp;
    <%= render 'palettes/center_content/edit_multiple_palette_buttons_link', palette: palette %>
  <% end %>
</h3>
<hr>