<div class="collapse navbar-collapse">
  <% if user_signed_in? %>
		<ul class="nav navbar-nav">
		  <li class="<%= 'active' if current_page?(dashboard_url) %>">
		    <%= link_to t('topnav.dashboard'), dashboard_path %>
		  </li>
		  <li class="<%= 'active' if current_page?(palettes_url) %>">
		    <%= link_to  t('topnav.palettes'), palettes_path  %>
		  </li>
		  <li class="<%= 'active' if current_page?(new_lesson_url) %>">
		    <%= link_to  t('topnav.lessons'), lessons_path  %>
		  </li>
      <% if current_user.admin? && params[:controller] == 'palettes' && params[:action] == 'index' %>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            Admin
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown">
              <%= render 'users/admin/assign_user_role_link' %>
            </li>
            <li class="divider"></li>
            <li class="dropdown">
              <%= render 'users/admin/view_another_users_palette_editor_link' %>
            </li>
          </ul>
        </li>

      <% end %>
		</ul>
    <ul class="nav navbar-nav navbar-right">
	    <li class="dropdown">
		    <a href="" class="dropdown-toggle" data-toggle="dropdown">
		      <%= image_tag profile_avatar_url(current_user.profile, :thumb),
                        size: "30x30" %>
		      <b class="caret"></b>
		    </a>
	      <ul class="dropdown-menu">
          <% unless params[:controller] == "profiles" && params[:action] == 'show' %>
          <li>
            <%= link_to current_user.full_name,
                        profile_path(current_user.profile)
            %>
          </li>
          <li class="divider"></li>
          <% end %>
          <li>
	          <%= link_to t('topnav.signout'),
                      destroy_user_session_path,
                      { method: :delete, data: {confirm: 'Are you sure?'}}
            %>
	        </li>
	      </ul>
	    </li>
	  </ul>
  <% else %>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <%= 'Sign in' %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= render 'devise/sessions/form' %>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
	          <div class="container-fluid" id="social_sign_in_panel">
		          <span class="help-block">
			          Sign in using:
		          </span>
	            <%= render 'devise/sessions/social_media_log_in' %>
	          </div>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
