<%= simple_form_for(@palette, remote: true, :html => { class: 'inline form-horizontal', id: 'multiple_button_form'}) do |f|  %>

  <%= hidden_field_tag 'mode', 'multiple' %>
  <%= hidden_field_tag 'selection', 'updating' %>

  <%= hidden_field_tag  'change_speed_rate',  'no' %>
  <%= hidden_field_tag  'change_color_value', 'no' %>
  <%= hidden_field_tag  'change_size_value',  'no' %>


  <%= f.input :title %>
  <%= f.input :speech_phrase, input_html: {style: 'height:50px;'} %>
  <% @palette.button_color = 6 %>
  <% @palette.size = "Medium" %>
  <%= f.label 'Speech speed rate:' %>

  <div class="row" >
    <div class="col-md-9">
      <div class="noUiSlider" id="speechSpeedRateSlider"></div>
    </div>
    <div class="col-md-3">
      <%= f.input :speech_speed_rate, label: false, input_html: { style: 'width: 60px;'} %>
    </div>
  </div>

  <%= f.input :button_color, collection: ButtonColor.all, id: :name,
              input_html: { class: 'chosen-select' } %>
  <%= f.input :size, collection: %w[Small Medium Large], include_blank: false %>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <%= link_to 'Delete',
                  {controller: 'palettes',
                   action: 'destroy',
                   id: @palette.id,
                   mode: 'multiple'},
                  method: :delete,
                  remote: true,
                  class: 'btn btn-danger btn-block',
                  id: 'deleteMultipleButton',
                  data: { confirm: "Delete the #{@palette.number_of_selected_buttons} selected buttons?" }
      %>

    </div>

    <div class="col-md-4">
      <%= f.submit 'Apply', class: 'btn btn-primary btn-block', id: 'applyButton' %>
    </div>
    <div class="col-md-4">
      <%= link_to 'Cancel', palette_path(@palette),
                  remote: true,
                  class: 'btn btn-default btn-block',
                  id: 'cancelMultipleEditButton'
      %>

    </div>
  </div>

  <script>

    var speedRateField = $('#palette_speech_speed_rate');
    var speedRate = 0.2;
    var button_size = $('#palette_size');

    function getColor(name){
      var colors = {'red':'#c1392d', 'orange':'#d45300', 'yellow':'#f39b13',
        'green':'#27ae61', 'lightgreen':'#2dcc70', 'blue':'#3498db',
        'turquoise':'#13c8b0', 'purple':'#8d44af', 'pink':'#fe7a7a'};
      return colors[name];
    }

    function format(state) {
      if (!state.id) return state.text; // optgroup
      var val = "<div class='buttonColorPreviewBox' style='background-color: " +
          getColor(state.text.toLowerCase().replace(/ /, '')) + ";'></div>" + "    " + state.text;
      return val;
    }

    $(function() {
      $('select#palette_button_color').select2({
        width: '305px',
        height: '50px',
        formatResult: format,
        formatSelection: format,
        allowClear: false
      }).change(function(){
        $('#change_color_value').val('yes');
        $('#change_speed_rate').val('no');
        $('#change_size_value').val('no');
        $('#multiple_button_form').submit();
      });
    });


    $('#palette_title').val('');
    $('#palette_title').prop('disabled', true);
    $('#palette_speech_phrase').prop('disabled', true);
    $('.noUiSlider').noUiSlider({
      range: [0, 1]
      ,start: [speedRate, 0]
      ,step: 0.1
      ,handles: 1
      ,connect: "lower"
      ,serialization: {
        to: [speedRateField]
      }
    }).change(function(){
      $('#change_speed_rate').val('yes');
      $('#change_size_value').val('no');
      $('#change_color_value').val('no');
      $('#multiple_button_form').submit();
    });

    speedRateField.mouseover(function() {
      $(this).prop('disabled', true);
    });

    speedRateField.mouseout(function() {
      $(this).prop('disabled', false);
    });

    button_size.on('change', function() {
      $('#change_size_value').val('yes');
      $('#change_speed_rate').val('no');
      $('#change_color_value').val('no');

      $('#multiple_button_form').submit();
    });

    $('.noUi-handle').css('background-color', '#1E72B3');
    $('.noUi-handle').css('border-color', '#2246EB');
    $('.noUi-connect').css('background-color', '#1E72B3');

  </script>
<% end %>
